<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Access to Bank Project</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6e876e">  <td>20/11/07 16:05:51</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterTest()[pri:0, instance:com.myTest.LoginTest@19d37183]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@261208622</td>   <td></td> </tr>
<tr bgcolor="7692c9">  <td>20/11/07 16:05:48</td>   <td>-3449</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.doLogin()[pri:2, instance:com.myTest.LoginTest@19d37183]">doLogin</td> 
  <td>TestNG-test=Run with Chrome browser-2@101551245</td>   <td></td> </tr>
<tr bgcolor="6e876e">  <td>20/11/07 16:05:34</td>   <td>-17190</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String)[pri:0, instance:com.myTest.LoginTest@19d37183]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@261208622</td>   <td></td> </tr>
<tr bgcolor="7692c9">  <td>20/11/07 16:05:40</td>   <td>-10769</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyInfoRegistrationDisplayed()[pri:1, instance:com.myTest.LoginTest@19d37183]">verifyInfoRegistrationDisplayed</td> 
  <td>TestNG-test=Run with Chrome browser-1@1427837211</td>   <td></td> </tr>
</table>
