<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9869b7">  <td>20/11/02 11:51:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;tmp.beforeClass()[pri:0, instance:com.myTest.tmp@60d8c9b7]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@118394766</td>   <td></td> </tr>
<tr bgcolor="9869b7">  <td>20/11/02 11:51:01</td>   <td>-8</td> <td>&nbsp;</td><td title="&gt;&gt;tmp.beforeTest()[pri:0, instance:com.myTest.tmp@60d8c9b7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@118394766</td>   <td></td> </tr>
<tr bgcolor="9869b7">  <td>20/11/02 11:51:01</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tmp.test01()[pri:1, instance:com.myTest.tmp@60d8c9b7]">test01</td> 
  <td>main@118394766</td>   <td></td> </tr>
<tr bgcolor="9869b7">  <td>20/11/02 11:51:01</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tmp.test02()[pri:2, instance:com.myTest.tmp@60d8c9b7]">test02</td> 
  <td>main@118394766</td>   <td></td> </tr>
<tr bgcolor="9869b7">  <td>20/11/02 11:51:01</td>   <td>19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tmp.test03()[pri:3, instance:com.myTest.tmp@60d8c9b7]">test03</td> 
  <td>main@118394766</td>   <td></td> </tr>
</table>
